################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################


/.vs/slnx.sqlite
/prueba_saec/prueba_saec/obj/Debug
/prueba_saec/.vs/prueba_saec/v16/Server/sqlite3
/.vs/ATI_SAEC/v16/Server/sqlite3
/obj/Release
/.vs
